body {
    margin-top: 0;
}

#maindiv {
    display: flex;
}

/* Sivupalkit 20% ruudunleveydestä */
.sivudiv {
    width: 20vw;
}

/* Kartta 60% ruudunleveydestä */
#karttadiv {
    width: 60vw;
}

/* Testiksi, jotta hahmottaa paremmin */ 
div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Testiksi, jotta hahmottaa paremmin */ 
#maindiv > div {
    height: 500px;
    z-index: 1;
}

#header {
    width: 100%;
    padding-bottom: 1%;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: whitesmoke;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#headertitle {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

/*Jos maita on valittu monta tulee scroll bar*/
.valitutMaat {
    overflow-y: auto;
    height: 80%;
    width: 100%;
}

.hyokkayslkm {
    height: 10.4%;
    width: 100%;
}

/*Jos ehdotuksia on liikaa tulee scroll bar*/
.searchdiv {
    overflow-y: auto;
    width: 100%;
    height: 8.8%;
}

.oikeadiv {
    overflow-y: auto;
    height: 100%;
}

.inactivenappi {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: default;
}

#oikeaylanapit {
    display: flex;
    flex-direction: row;
    position: relative;
    float: right;
    max-width: 100%;
    margin-left: auto;
    margin-right: 1%;
}

#oikeaylanapit > button {
    max-width: min-content;
}

#navnapit {
    display: flex;
    justify-content: center;
}

#titlejanav {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}