#maindiv {
    display: flex;
}

/* Sivupalkit 20% ruudunleveydestä */
.sivudiv {
    width: 20vw;
}

/* Kartta 60% ruudunleveydestä */
#karttadiv {
    width: 60vw;
    z-index: 1;
}

/* Testiksi, jotta hahmottaa paremmin */ 
div {
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Testiksi, jotta hahmottaa paremmin */ 
#maindiv > div {
    height: 500px;
}

#header {
    width: 100vw;
}

/*Jos maita on valittu monta tulee scroll bar*/
.valitutMaat {
    overflow-y: auto;
    height: 80%;
    width: 100%;
    
}

.hyokkayslkm {
    height: 10.4%;
    width: 100%;
}

/*Jos ehdotuksia on liikaa tulee scroll bar*/
.searchdiv {
    overflow-y: auto;
    width: 100%;
    height: 8.8%;
}

.oikeadiv {
    overflow-y: auto;
    height: 100%;
}